        <!-- Jumbotron -->
        <div class="jumbotron">
            <h1>Meet our team</h1>
            <br><br>
            <div class="row">
            <div class="col-md-4">
                <div class="well well-lg">
                    Philippe Chang, project manager
                </div>
            </div>
            <div class="col-md-4">
                <div class="well well-lg">
                    Zakaria Djebloune, freelance, messiah, python m4st3r, PHP l33t
                </div>
            </div>
            <div class="col-md-4">
                <div class="well well-lg">
                    John Wan Kut Kai, relationship manager
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="well well-lg">
                    Nicolas Dos Santos, trade expert
                </div>
            </div>
            <div class="col-md-4">
                <div class="well well-lg">
                    Arthur Besnard, technical expert
                </div>
            </div>
            <div class="col-md-4">
                <div class="well well-lg">
                    Thibaut Garcia, internal tools manager
                </div>
            </div>
        </div>

        </div>
