        <!-- Jumbotron -->
        <div class="jumbotron">
            <h1>How to use BadIMSI Box</h1>
            <br><br>
            <h2>1. Make sure your are registered into our system as a Master. Register <a href="./registration.html">here</a></h2>
            <h2>2. Log in as a Master using your email and current password.</h2>
            <h2>3. Create observers session by defining a password for them.</h2>
            <h2>4. Give them the current session information.</h2>
            <h2>5. The Hack Activity can begin.</h2>
            <h2>6. If you don't understand anything, go to step 1.</h2>
        </div>
