<div class="container">
    <div class="bs-component">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Master</a></li>
            <li><a href="#">Location</a></li>
            <li><a href="#">Sniffing</a></li>
            <li><a href="#">Jamming</a></li>
            <li class="active"><a href="#">Attack</a></li>
        </ul>
    </div>
    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>4. Attack</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-dismissible alert-warning">
                <h4>You can go on!</h4>
                <p>The target mobile is connected to our fake BTS.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Send a SMS</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label for="imsi" class="col-lg-2 control-label">IMSI</label>
                                <div class="col-lg-10">
                                    <select class="form-control" id="imsi">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Sender</label>
                                <div class="col-lg-10">
                                    <input required class="form-control" id="sender" placeholder="Enter sender's number" type="text"> </div>
                            </div>
                            <div class="form-group">
                                <label for="textArea" class="col-lg-2 control-label">Message</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" required rows="6" id="message"></textarea> <span class="help-block">The message body can be at
                          least 160 characters.</span> </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button id="send" class="btn btn-primary">Send</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <script>
            var $select = $('#imsi');
            $.ajax({
                url: serverLink + '/master/attack/tmsis/',
                dataType: 'JSON',
                success: function(data) {
                    //clear the current content of the select
                    $select.html('');
                    //iterate over the data and append a select option
                    $.each(data, function(key, val) {
                        console.log(JSON.stringify(data[key]));
                        $select.append('<option value=\'' + val.IMSI + '\'> ' + val.IMSI + '</option>');
                    });
                },
                error: function() {
                    //if there is an error append a 'none available' option
                    $select.html('<option value="-1">none available</option>');
                }
            });
            $.ajax({
                url: serverLink + '/master/attack/tmsis/',
                dataType: 'JSON',
                success: function(data) {
                    //clear the current content of the select
                    $select.html('');
                    //iterate over the data and append a select option
                    $.each(data, function(key, val) {
                        console.log(JSON.stringify(data[key]));
                        $select.append('<option value=\'' + val.IMSI + '\'> ' + val.IMSI + '</option>');
                    });
                },
                error: function() {
                    //if there is an error append a 'none available' option
                    $select.html('<option value="-1">none available</option>');
                }
            });
            $(document).ready(function () {
                $.ajax({ 
                    type: 'GET', 
                    url: serverLink + '/master/attack/sms/receive/', 
                    success: function (data) { 
                    }
                });
                return false;
            });
            
            $(function() {
                $('#send').click(function() {
                    var sender = document.getElementById('sender').value;
                    console.log(sender);
                    var message = document.getElementById('message').value;
                    console.log(message);
                    var imsi = document.getElementById('imsi').value;
                    console.log(imsi);
                    var jsonRequest = {
                        'sender': sender,
                        'message': message,
                        'imsi': imsi
                    }
                    $.post('[onshow.server_link]/master/attack/sms/send/', jsonRequest, function(object) {
                        alert('Sender: ' + object.sender + '\nMessage: ' + object.message);
                    });
                });
            return false;
            });

            var eb = new EventBus(serverLink + '/eventbus');
            $("#sms_read").empty();
            eb.onopen = function() {
                // set a handler to receive a message
                eb.registerHandler('sms.new', function(err, res) {
                    $("#sms_read").prepend('<div  class="well"><p>' + res.body.date + '</p><p>' + res.body.message + '</p></div>');
                });
            };

            var ebReception = new EventBus(serverLink + '/eventbus');
            $("#sms_sent").empty();
            ebReception.onopen = function() {
                // set a handler to receive a message
                ebReception.registerHandler('sms.sent', function(err, res) {
                    console.log("Date: " + res.body.date);
                    console.log("Msg: " + res.body.message);
                    $("#sms_sent").prepend('<div  class="well"><p>' + res.body.date + '</p><p>' + res.body.message + '</p></div>');
                });
            };
        </script>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">SMS sent to target</div>
                <div id="sms_sent" class="panel-footer" style="overflow-y: scroll; height: 336px">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">Read target SMS</div>
                <div id="sms_read" class="panel-footer" style="overflow-y: scroll; height: 336px">
                </div>
            </div>
        </div>
    </div>
