<div class="container">
    <div class="bs-component">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="master.php">Master</a></li>
            <li><a href="#">Location</a></li>
            <li><a href="#">Sniffing</a></li>
            <li class="active"><a href="#">Jamming</a></li>
        </ul>
    </div>
    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>3. Fake BTS</h1>
    </div>
    <div class="row tall-row">
        <div class="col-lg-12">
            <h1>Cloning config :</h1>
            <hr> </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title">Choose BTS to clone</h3>
                </div>
                <div class="panel-footer">
                    <form class="bs-component">
                        <div class="form-group">
                            <div class="col-lg-8">
                                <select class="form-control" id="operator">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div> <a href="#" id="clone" class="btn btn-primary">Clone</a>
                                <a href="#" id="jam" class="btn btn-danger">Stop</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="fade"></div>
    <div id="modal">
        <img id="loader" src="template/heartwave.gif" />
    </div>
    <script>
        function openModal() {
            document.getElementById('modal').style.display = 'block';
            document.getElementById('fade').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('modal').style.display = 'none';
            document.getElementById('fade').style.display = 'none';
        }
        $(function() {
            $('#clone').click(function() {
                var jsonRequest = {
                    'CI': operator.options[operator.selectedIndex].value
                }
                console.log(jsonRequest);
                openModal();
                $.post('[onshow.server_link]/master/fakebts/start/', jsonRequest, function(object) {

                    closeModal();
                });
                return false;
            });
        });
        var $select = $('#operator');
        $.ajax({
            url: '[onshow.server_link]/master/fakebts/getBTSList/',
            dataType: 'JSON',
            success: function(data) {
                //clear the current content of the select
                $select.html('');
                //iterate over the data and append a select option
                $.each(data, function(key, val) {
                    console.log(JSON.stringify(data[key]));
                    $select.append('<option value=\'' + val.CI + '\'>' + (key + 1) + ' ' + val.Network + ' (' + val.CI + ')</option>');
                });
            },
            error: function() {
                //if there is an error append a 'none available' option
                $select.html('<option value="-1">none available</option>');
            }
        });
        $("select").change(function() {
            var jsonRequest = "";
            $("select option:selected").each(function() {
                jsonRequest = {
                    'operator': operator.options[operator.selectedIndex].text
                }
            });
            $.post('[onshow.server_link]/master/fakebts/selectOperator/', jsonRequest, function(data) {
                var obj = jQuery.parseJSON(JSON.stringify(data));
                console.log(data);
            });
        }).trigger("change");
        var eb = new EventBus("[onshow.server_link]/eventbus");
        $("#connected tbody").empty();
        eb.onopen = function() {
            // set a handler to receive a message
            eb.registerHandler('imsi.new', function(err, res) {
                var json = jQuery.parseJSON(res);
                $.each(json, function(key, val) {
                $("#connected tbody").append(
                    "<tr class=\"info\">" + "<td id=\"imsi\">" + val.IMSI + "</td>" + "<td id=\"tmsi\">" + val.TMSI + "</td>" + "<td id=\"imei\">" + val.TMSI + "</td>" + "</tr>");
                });
            });
        };
    </script>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h3 class="panel-title">Connected devices</h3>
                </div>
                <div class="panel-body">
                    <table id="connected" class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>IMSI</th>
                                <th>TMSI</th>
                                <th>IMEI</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row tall-row">
        <div class="col-lg-12"> <a href="#" id="go" class="btn btn-default">Next Step</a> </div>
        <script>
            $(function() {
                $('#go').click(function() {
                    var $this = $(this);
                    $.ajax({
                        url: '[onshow.server_link]/master/session/state',
                        dataType: 'json',
                        timeout: 3000,
                        success: function(data) {
                            var obj = jQuery.parseJSON(JSON.stringify(data));
                            console.log(obj.timestamp);
                            console.log(obj.password);
                            console.log(obj.password.length);
                            console.log((jQuery.now() / 1000 - obj.timestamp));
                            if (((jQuery.now() / 1000 - obj.timestamp) < 1800) && (obj.password.length != 0)) {
                                $.ajax({
                                    url: '[onshow.server_link]/master/session/set/state/4',
                                    dataType: 'json',
                                    success: function(data) {
                                        window.location.href = "master.php?state=attack";
                                    },
                                    error: function() {
                                        alert('Error getting state from session...');
                                    }
                                });
                            } else {
                                alert('The session has expired. Please create a new one.');
                                window.location.href = "master.php";
                            }
                        },
                        error: function() {
                            alert('Error getting date from session...');
                        }
                    });
                });
            });
        </script>
    </div>
