    <div  class="container">
      <div  class="bs-component">
        <ul  class="breadcrumb">
          <li><a  href="#">Home</a></li>
          <li><a  href="#">Location</a></li>
          <li><a  href="#">Sniffing</a></li>
          <li><a  href="#">Jamming</a></li>
          <li  class="active"><a  href="#">Attack</a></li>
        </ul>
      </div>
      <!-- Jumbotron -->
      <div  class="jumbotron">
        <h1>4. Attack</h1>
      </div>
      <div  class="row">
        <div  class="col-lg-12">
          <div  class="alert alert-dismissible alert-warning"> <button  type="button"

               class="close">×</button>
            <h4>You can go on!</h4>
            <p>The target mobile is connected to our fake BTS.</p>
          </div>
        </div>
      </div>
      <script>
          var eb = new EventBus(serverLink + '/eventbus');
            $("#sms_read").empty();
            eb.onopen = function() {
                // set a handler to receive a message
                eb.registerHandler('sms.new', function(err, res) {
                    $("#sms_read").prepend('<div  class="well"><p>' + res.body.date + '</p><p>' + res.body.message + '</p></div>');
                });
            };

            var ebReception = new EventBus(serverLink + '/eventbus');
            $("#sms_sent").empty();
            ebReception.onopen = function() {
                // set a handler to receive a message
                ebReception.registerHandler('sms.sent', function(err, res) {
                    console.log("Date: " + res.body.date);
                    console.log("Msg: " + res.body.message);
                    $("#sms_sent").prepend('<div  class="well"><p>' + res.body.date + '</p><p>' + res.body.message + '</p></div>');
                });
            };
        </script>
      <div  class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">SMS sent to target</div>
                <div id="sms_sent" class="panel-footer" style="overflow-y: scroll; height: 336px">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">Read target SMS</div>
                <div id="sms_read" class="panel-footer" style="overflow-y: scroll; height: 336px">
                </div>
            </div>
        </div>
      </div>
